<section class="welcome">
    <div>
        <h2> Welcome, <%= @organization.name %> </h2>
        <h4>You have <%= pluralize(@messages.size, "message") %>  </h4>
    </div>
    
        <%= link_to :root, class: 'btn-new-message' do %>
        <i class="fa fa-envelope-open-text"></i> New Message
        <% end %>
</section>
<div class="message-board">
    <% @messages.each do |msg| %>
        <div class="message">
            <%= render partial: 'messages/note1.svg', locals: {message: msg.slice(0,160)} %>
            <p><%= link_to 'Mark as read', :root %></p>
        </div>
    <% end %>
</div>