
<div class="signup">
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account</p>

    <% if @organization.errors.any? %>
        <div id="error_explanation">
        <p><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</p>

        <ul>
        <% @organization.errors.each do |attr,message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <%= form_with model: @organization, local: true do |form| %>
        <div class="form-field">
            <%= form.label :name, 'Organization name' %>
            <%= form.text_field :name %>
        </div>
        <div class="form-field">
            <%= form.label :description %>
            <%= form.text_area :description, rows: 8 %>
        </div>
        <%= form.fields_for :admin do |admin_form| %>
            <div class="form-field">
                <%= admin_form.label :email %>
                <%= admin_form.email_field :email %>
            </div>
            <div class="form-field">
                <%= admin_form.label :password %>
                <%= admin_form.password_field :password %>
            </div>    
        <% end %>    
        <div>
            <%= form.submit 'Sign Up' %>
        </div>
    <% end %>
</div>