<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_include_tag 'application', 'data-turbolinks-track':
    'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1><%= link_to 'Bulletin Board', :root %></h1>
      <ul>
        <li><%= link_to '', :root, class: 'fas fa-envelope-open-text fa-2x', title: 'Messages' %></li>
        <% if @current_user.super_admin? or @current_user.organization_admin? %>
            <li><%= link_to '', :root, class: 'fas fa-user-plus fa-2x', title: 'Users' %></li>
            <li><%= link_to '', :root, class: 'fas fa-users fa-2x', title: 'Roles' %></li>
        <% end %>

        <li class="menu-item-profile">
          <img src="https://via.placeholder.com/50" class="profile_image" >
        </li>
        <li><%= link_to '', signout_path, title: 'Sign out', class: 'fas fa-sign-out-alt fa-2x' %></li>

      </ul>
    </header>
    <main class="<%= controller_name %>">
      <%= yield %>
    </main>
  </body>
</html>
