<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_include_tag 'application', 'data-turbolinks-track':
    'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1><%= link_to 'Bulletin Board', :organization %></h1>
      <ul>
        <li><%= link_to 'Messages', :root %></li>
        <li><%= link_to 'Users', :root %></li>
        <li><%= link_to 'Roles', :root %></li>
        <li><%= link_to 'Groups', :root %></li>
        <li class="menu-item-profile">
          <img src="https://via.placeholder.com/50" class="profile_image" >
          <div class="profile-options">
              <p> <%= @organization.name %> </p>
            <%= link_to 'Profile', :edit_organization %> 
          </div>
        </li>
      </ul>
    </header>
    <main class="<%= controller_name %>">
      <%= yield %>
    </main>
  </body>
</html>
