<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_include_tag 'application', 'data-turbolinks-track':
    'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  </head>

  <body>

    <header>
      <h1><%= link_to 'Bulletin Board', :root %></h1>
      <ul>
        <li><%= link_to 'Home', :root %></li>
        <li><%= link_to 'Sign Up', :signup %></li>
        <li>Sign in</li>
      </ul>
    </header>
    <main class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </main>
  </body>
</html>
